@font-face {
	font-family: 'CaskaydiaCoveNerdFont-Bold';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-BoldItalic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-ExtraLight';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-ExtraLight.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-ExtraLightItalic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-ExtraLightItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-Italic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-Italic.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-Light';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-Light.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-LightItalic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-LightItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-Regular';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-SemiBold';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-SemiBold.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-SemiBoldItalic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-SemiLight';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-SemiLight.ttf) format('truetype');
}
@font-face {
	font-family: 'CaskaydiaCoveNerdFont-SemiLightItalic';
	src: url(CascadiaCode/CaskaydiaCoveNerdFont-SemiLightItalic.ttf) format('truetype');
}





nav{
	
	color: #000000; /*teksti värv*/
	background-color: #8F8FFF; /*tausta värv*/
	/*width: 50%; laius*/
	text-align: center;
	font-family: "CaskaydiaCoveNerdFont-Regular";
	font-size: 18pt;
}

nav ul {
	border-right-style: solid;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8F8FFF;
	border: groove 4pt;
}

nav li {
	float: left;
	border-right-style: groove;
}

nav li a {
	display: block;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: #8F8F8F;
}

main section {
	
	color: #000000;
	background-color: #FFFFFF;
	font-family: "CaskaydiaCoveNerdFont-Regular";
	margin: 4pt;
	
}

main section h2 {
	
	color: #000000;
	background-color: #FFFFFF;
	font-family: "CaskaydiaCoveNerdFont-Regular";
	text-align: center;
	
}

footer {
	
	color: #000000;
	background-color: #8F8FFF;
	/*width: 25%;*/
	font-family: "CaskaydiaCoveNerdFont-Regular";
	border: groove 4pt;
	margin: 4pt;
	text-align: center;
	padding: 1%;
	
}
